.ingreso{
    display: grid;
    place-items: center;
    width: 300;
    height: 300;
}

label, h3{
    text-align: center;
    display:flex;
    width: 200px;
    font-family:'Arial', Courier, monospace;
    font-weight: bold;
}

input, textarea, select{  
    border-radius: 5px;
}

.registro{
    display: grid;
    place-items: center;
    width: 300;
    height: 300;
}

label, h3{
    text-align: center;
    display:flex;
    width: 160px;
    font-family:'Arial', Courier, monospace;
    font-weight: bold;
}

input, textarea, select{  
    border-radius: 5px;
}

.registro2{
    display: grid;
    place-items: center;
    width: 300;
    height: 300;
}

label, h3{
    text-align: center;
    display:flex;
    width: 160px;
    font-family:'Arial', Courier, monospace;
    font-weight: bold;
}

input, textarea, select{  
    border-radius: 5px;
}

.registro3{
    display: grid;
    place-items: center;
    width: 300;
    height: 300;
}

label, h3{
    text-align: center;
    display:flex;
    width: 160px;
    font-family:'Arial', Courier, monospace;
    font-weight: bold;
}

input, textarea, select{  
    border-radius: 5px;
}